.container {
    width: 100%;
    display: flex;
}

#info-producto {
    justify-content: space-around;
    /* background-color:white; */
    border: 2px solid #a2a4a3;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    padding: 50px;
}

#principal {
    display: flex;
}

.info {
    width: 55%;
    display: flex;
    flex-direction: column;
}

#imagen-grande {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-left: 10px;
}

#imagen-grande img {
    width: 100%;
    height: auto;
}

#contenedor-doble {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 50px;
    padding-top: 100px;
    justify-content: space-between;
}

#comentariosParrafo {
    width: 70%;
}

#cajacomentarios {
    margin-left: 5%;
    width: 30%;
}

#txtareaOpinion {
    width: 100%;
}

.bold {
    font-weight: bold;
}

.list-group-item {
    width: 100%;
    word-wrap: break-word;
}

#btnEnviar {
    width: 80px;
    background-color: #dc3545;
    border-color: #dc3545;
}

#agregarAlCarrito {
    background-color: #dc3545;
    border-color: #dc3545;
    width: 30%;
    min-width: 100px;
}

.cont-prodRelacionados {
    width: 60%;
    gap: 1%;
    display: flex;
    flex-direction: row;
}


@media (max-width: 500px) {
    .container {
        justify-content: center;
    }

    #info-producto {
        width: 100%;
        padding: 0px;
    }

    #principal {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 80%;
    }

    #imagen-grande {
        width: 80%;
    }

    #contenedor-doble {
        flex-direction: column;
        padding: 10px;
    }

    #comentariosParrafo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #cajacomentarios {
        width: 100%;
        padding: 20px;
        margin-left: 0;
    }

    #txtareaOpinion {
        width: 100%;
    }

    #agregarAlCarrito {

        width: 100%;
        margin-bottom: 50px;

    }

}

@media (max-width: 999px) {
    #agregarAlCarrito {

        width: 100%;
        

    }
}

@media (max-width: 750px) {
    .container {
        justify-content: center;
    }

    #info-producto {
        width: 100%;
        padding: 0px;
    }

    .p-1 {
        font-size: 14px;
        min-width: 50px;
    }

    #principal {
        flex-direction: column;
        align-items: center;
    }

    .info {
        width: 80%;
    }

    #imagen-grande {
        width: 80%;
    }

    #contenedor-doble {
        flex-direction: column;
        padding: 10px;
    }

    #comentariosParrafo {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }

    #cajacomentarios {
        width: 100%;
        padding: 20px;
        margin-left: 0;
    }

    #txtareaOpinion {
        width: 100%;
    }

    #agregarAlCarrito {

        width: 100%;
        margin-bottom: 50px;

    }


}