body {
    margin: 0;
}

.centrador {
    display: flex;
    justify-content: center;
    height: 100vh;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    border-radius: 10px;
    border: 1px solid #8b8e9b;
    padding: 5px;
    width: 100%;
}

.boton {
    text-align: center;
}

#btnRegistro {
    border-color: #6e6e6e;
}

.formulario {
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    max-width: 550px;
    margin: 0 auto;
    padding: 5%;
    box-sizing: border-box;
}

.reg {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 0;
    padding-top: 1%;
}

.banner img {
    width: 100%;
    height: auto;
}
