body{ /*le saca los bordes al banner*/
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;    background-color: #F5F5F5; /* si manuel , es el color de ml*/
}
.centrador{/* centra la caja general*/
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50hv; 
}

input[type="text"],
input[type="password"],
input[type="mail"] {
    border-radius: 10px; /* Ajusta el valor según el nivel de redondeo deseado */
    border: 1px solid #8b8e9b; /* Borde opcional */
    padding: 5px; 
    background-color: #cee1ec; /* Cambia el color de fondo cuando está seleccionado */
    
}
.boton{
    padding-left: 20%;
    border-radius: 5%;
}
.formulario{ /*es el bloque de los form*/
    font-family: Arial, Helvetica, sans-serif;
    
    width: 30%;
    height: 60%;
    background-color: white;
    display: table-column;
    padding-left: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.reg{ /* titulo solo */
    font-family: Arial, Helvetica, sans-serif;
    text-align: left; 
    padding-left: 30%;
}
  .banner img {
    width: 100%; /*el banner imagen*/
    height: 55px;
  }

