body{
    background-color: #ebebeb;
}

.container{
    width: 100%;
    display: flex;
    padding: 10px;
}

#principal{
    background-color:white;
    padding: 25px;
    border: 2px solid #a2a4a3;
    border-radius: 5px;
    width: 100%;
    height: auto;
    display: flex;
    margin-bottom: 30px;
    margin-top: 50px;
}
/*background-color: #ebebeb;*/
.info{
    width: 55%;
    display: flex;
    flex-direction: column;
}

#imagen{
    width: 15%;
    margin: auto;
    align-items: flex-end;
}

#fotogrande{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
#fotogrande img{
    width: 100%;
    height: auto;
}


#imagen img{
    border:1px solid #a2a4a3;
    width: 80%;
    height: auto;
    margin: 10px;
    cursor: pointer;
}

